ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
}

li {
    max-width: 250px;
    width: 100%;
    box-shadow: 9px 6px 13px 4px rgba(0, 0, 0, 0.78);
    -webkit-box-shadow: 9px 6px 13px 4px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 9px 6px 13px 4px rgba(0, 0, 0, 0.78);

    padding: 1rem;
}