main,
p,
div,
h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}

main {
    width: 100%;
    max-width: 50rem;
    min-height: 25rem;
    padding: 1rem;
    gap: 5rem;
    box-shadow: 4px 12px 17px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 12px 17px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 12px 17px 1px rgba(0, 0, 0, 0.75);
}

main,
div {
    align-items: center;
    flex-direction: column;
    display: flex;
    /* justify-content: center; */
}

div {
    gap: 2rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    text-align: center;
    font-size: 1.5rem;
}

img {
    width: 100%;
    max-width: 50vw;
    height: 100vh;
    z-index: -2;
}