<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/logo.png" />
    <link rel="stylesheet" href="../static/css/style.css">
    <title>CNAB</title>
</head>

<body>
    <main>
        <form action="/upload" enctype="multipart/form-data" method="post">
            <h2>Automatize sua gestão financéira</h2>
            <p>faça o upload de um arquivo .txt
                contendo os dados da sua (loja)
                e veja suas informações de forma
                legível.
            </p>
            <input type="file" name="file-sent" id="file-sent">
            <button type="submit">Upload</button>
        </form>
        <!-- <figure>
            <img src="../static/img/img.png" alt="">
        </figure> -->
    </main>
</body>

</html>