<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_list.css">
    <title>Document</title>
</head>

<body>
    <ul>
        {% for value in data %}
        <li>
            <h3>{{value.store_owner}}</h3>
            <p>Data: <span>{{value.date}}</span></p>
            <p>Hora: <span>{{value.hour}}</span></p>
            <p>Nome da loja: <span>{{value.store_name}}</span></p>
            <p>CPF: <span>{{value.cpf}}</span></p>
            <p>Número do cartão: <span>{{value.card}}</span></p>
            <p>Saldo: <span>R$ {{value.value}}</span></p>
        </li>
        {% endfor %}
    </ul>
</body>

</html>