<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_list.css">
    <title>Document</title>
</head>

<body>
    <ul>
        {% for value in data %}
        <li>
            <h3>{{value.store_owner}}</h3>
            <p>Data: {{value.date}}</p>
            <p>Hora: {{value.hour}}</p>
            <p>Nome da loja: {{value.store_name}}</p>
            <p>CPF: {{value.cpf}}</p>
            <p>Número do cartão: {{value.card}}</p>
            <p>Saldo: R$ {{value.value}}</p>
        </li>
        {% endfor %}
    </ul>
</body>

</html>